:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(80, 68, 68, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.search-label {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  align-content: center;
}

.lupa-search {
  margin-left: 500px;
  margin-top: 35px;
  width: 55px;
}

.arrow-search {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 4px;
  width: 24px;
}

.heart-search {
  margin-left: 10px;
  width: 23px;
}

.btn-filter-date {
  background-color: #159A9C;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(17, 100, 148);
  font-size: 1.0em;
  text-align: center;
  width: 240px;
  max-height: 90px;
}
.btn-filter-date:hover{
  background-color: #06415c;
}

.btn-filter-favorites {
  background-color: #159A9C;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(17, 100, 148);
  font-size: 1.0em;
  text-align: center;
  width: 240px;
  max-height: 55px;
}

.btn-filter-favorites:hover{
  background-color: #06415c;
}

.search-input {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  width: 100%;
  max-width: 600px;
  margin-top: 35px;
  margin-left: 10px;
}

.container-buttons-filter {
  width: 90%;
  display: flex;
  margin-left: 32%;
  border-radius: 10px;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.btn-load-more {
  background-color: #159A9C;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(17, 100, 148);
  margin-left: 45%;
  padding: 15px;
  margin-bottom: 50px;
  width: 200px;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
